@import '~styles/variables.scss';
@import '~styles/palette.module.scss';

html {
  height: 100%;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Material Icons';
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: $background-default;

  transition: all 0.5s;
}
